bpytop
caja
cni
dconf/user
emacs/*.elc
emacs/*.html
emacs/*~
emacs/.lsp-session-v1
emacs/.mc-lists.el
emacs/ac-comphist.dat
emacs/auto-save-list
emacs/cert
emacs/eln-cache
emacs/elpa
emacs/elpy
emacs/eshell
emacs/ido.last
emacs/localhost.el
emacs/network-security.data
emacs/projects
emacs/session.*
emacs/tramp
emacs/url
git/credentials
git/credentials.template
gnome-control-center
gtk-3.0/bookmarks
htop/htoprc
ibus
pulse
yarn
